.navbar-default{
    background-color: #1f2236 !important;
    background-image: -webkit-linear-gradient(top,#1f2260 0,#1f2236 100%) !important;
    background-image: -o-linear-gradient(top,#1f2260 0,#1f2236 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#1f2260),to(#1f2236)) !important;
    background-image: linear-gradient(to bottom,#1f2260 0,#1f2236 100%) !important;
    border-color: #1f2236;
    border-radius: 0;
    margin-bottom: 0;
}
.logo_images > img{
    width: 50px;
    height: auto;
    margin: -15px 15px 0 0;
    float:left;
}

.logo_name {
    float: right;
    text-decoration: none;
}

a.logo_name{
    text-decoration: none;
    float: right;
    font-family: Georgia, sans-serif;
    font-size: 25px;
}

.navbar-default .navbar-nav>li>a {
    font-size: 20px;
    font-family: Georgia, sans-serif;
    color: #337ab7;
    border-left: 0;
    border-top: 0;
    padding: 0 10px;
    text-decoration: none;
    height: 2.5em;
    line-height: 2.5em;
}
.navbar-default .navbar-nav>li>a:hover {
    font-size: 20px;
    font-family: Georgia, sans-serif;
    color: #eb9d1f;
    background-image:
            radial-gradient(1px 45% at 0% 50%, #eb9d1f, transparent),
            radial-gradient(1px 45% at 100% 50%, #eb9d1f, transparent);
}
.navbar-default .navbar-nav>li>a:active {
    background-image:
            radial-gradient(45% 45% at 50% 100%, rgba(255,255,255,.9), rgba(255,255,255,0)),
            linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.3));
}

@media (max-width: 1000px ) {
   .navbar-nav {
    display: none;
}
}
